<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxb.picturecanvas">

    <application>
        <activity android:name="com.gxb.picturecanvas.TPictureCanvasActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>